<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Python Hello World</title>
</head>
<body>
  <p>hello from the frontend</p>
  <p><%= data %></p>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      color: #333;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</body>
</html>
